/*#region Global Variables*/

$black-0: #000000;
$black-5: #0d0d0d;
$black-25: #404040;
$white-0: #ffffff;
$white-5: #f2f2f2;
$white-25: #bfbfbf;

$header-font: copperplate;
$standard-font: Verdana, Geneva, Tahoma, sans-serif;
$snell: Snell Roundhand, Cursive;

// Backup fonts for shitty pc's
@font-face {
  font-family: "Snell Roundhand, Cursive";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/SnellRoundhand.woff"); /* IE9 Compat Modes */
  src: local("Snell Roundhand"), local("SnellRoundhand"),
    url("../../assets/SnellRoundhand.woff") format("embedded-opentype"),
    ///* IE6-IE8 */ url("../fonts/barlow-condensed-v4-latin/barlow-condensed-v4-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../assets/SnellRoundhand.woff")
      format("woff"),
    ///* Modern Browsers */ url("../fonts/barlow-condensed-v4-latin/barlow-condensed-v4-latin-300.ttf") format("truetype"),
    /* Safari, Android, iOS */
    //  url("../fonts/barlow-condensed-v4-latin/barlow-condensed-v4-latin-300.svg#BarlowCondensed") format("svg"); /* Legacy iOS */
}

* {
	box-sizing: border-box;
}

body {
  background-image: repeating-linear-gradient(to left, #55c8d8, #f7c8d8, #f7c8d8, #ffffff, #ffffff, #f7c8d8, #f7c8d8, #55c8d8);
  background-size: 300%;
  min-height: 100vh;
  animation-name: shift;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes shift {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 300%;
    }
}

html {
  scroll-behavior: smooth;
}

/*#endregion Global Variables*/

/*#region Layout Structuring*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

/*#endregion Layout Structuring*/

/*#region Home Page*/

.main-title {
	color: red;
}

/*#endregion Home Page*/